.house-main {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    padding-bottom: 2rem;
    margin: 2rem 0;
    width: 100%;
    border: 1px solid black;
    box-shadow: 10px 10px rgb(128, 128, 128, .25);
}

.house-wrap {
    margin-left: 3rem;
}

.close {
    height: 2rem;
    margin: 1rem;
}

.close:hover {
    cursor: pointer;
}